<div class="card" >
    <div class="card-content">
        <span>
            <b>Name:</b>
        </span>
        <span>
            {{employeeData.name}}
        </span>
    </div>
    <div class="card-content">
        <span>
            <b>Email:</b>
        </span>
        <span>
            {{employeeData.email}}
        </span>
    </div>
    <div class="card-content">
        <span>
            <b>Phone:</b>
        </span>
        <span>
            {{employeeData.phone}}
        </span>
    </div>
    <div class="card-content">
        <span>
            <b>Company:</b>
        </span>
        <span>
            {{employeeData.company.name}}
        </span>
    </div>
    <div class="card-content">
        <span>
            <b>Catch Phrase:</b>
        </span>
        <span>
            {{employeeData.company.catchPhrase}}
        </span>
    </div>
    <div class="card-content">
        <span>
            <b>Website:</b>
        </span>
        <span>
            {{employeeData.website}}
        </span>
    </div>
</div>
