.title {
    font-size: large;
    border-bottom: 0.2px solid gray;
    font-family:sans-serif;
}
.msg {
    margin: 25px 0;
    font-size: medium;
    border-bottom: 0.2px solid gray;
}
.colors {
    color: black; 
    background-color: white;
}

.mat-mdc-dialog-actions {
    justify-content: end;
}

.no-btn {
    color: white;
    background-color: gray;
    border-color: gray;
}

.yes-btn {
    color: white;
    background-color: #009cff;
    border-color: #009cff;
}

button {
    flex-basis: 60px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}